{% include "head.html" %}

<div class="container">
  <section class="full-screen section-1">
    <p class="btnaa">sadsaddas</p>
    <p class="btnaa">sadsaddas</p>
    <p class="btnaa">sadsaddas</p>

  </section>

  <section id="section-2" class="full-screen section-2">
    adsa
  </section>

  <section id="section-3" class="full-screen section-2">
    adsa
  </section>

  <section id="section-4" class="full-screen section-2">
    adsa
  </section>

  <section id="section-5" class="full-screen section-2">
    adsa
  </section>
</div>
