{% include "head.html" %}

  <section class="full-screen section-1">
      <div class="container">
        <button type="button" class="js-trigger" data-target="#section-3" data-mt-duration="2000">Trigger</button>
        <div id="root"></div>
        <div id="main-menu"></div>
      </div>
    <div class="render"></div>
  </section>



  <section id="section-2" class="full-screen section-2">
    adsa
  </section>

  <section id="section-3" class="full-screen section-2">
    adsa
  </section>

  <section id="section-4" class="full-screen section-2">
    adsa
  </section>

  <section id="section-5" class="full-screen section-2">
    adsa
  </section>
</div>
